{% extends 'base.html' %}

{% block content %}
<h1>{{ chat.name }}</h1>
  
<ul>
  {% for user in chat.members.all %}
      <li><strong>{{ user.username }}</strong></li>
  {% empty %}
      <li>Тут нічого</li>
  {% endfor %}
</ul>

<ul>
    {% for message in messages %}
        <li><strong>{{ message.user.username }}</strong>: {{ message.content }}</li>
    {% empty %}
        <li>Тут нічого</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Надіслати</button>
</form>
{% endblock %}